/* @import '~font-awesome/css/font-awesome.css'; */
.weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: monospace;
}

.left-panel {
  width: 30%;
}

.right-panel {
  width: 60%;
  font-size: 18px;
}

input {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.buttons-wrapper {
  display: flex;
  width: 320px;
}

button {
  display: block;
  background-color: purple;
  color: white;
  font-family: monospace;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px purple;
}

.city {
  font-size: 18px;
}

.location-link {
  color: cornflowerblue;
  cursor: pointer;
}

.right-panel div {
  margin-top: 20px;
}

.right-panel .day {
  margin-right: 20px;
  display: inline-block;
}

.place-input,
.add-city {
  margin-right: 20px;
}
.right-panel b {
  display: block;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.is_error {
  position: fixed;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
  font-family: monospace;
  background-color: aliceblue;
}
